# Xcode user data
*.xcuserdatad/
*.xcuserdata/
*.xcuserstate
**/xcshareddata/

# App image export folder
Sequential Timer/Image/

# Firebase config (local)
Sequential Timer/GoogleService-Info.plist

# macOS
.DS_Store
